.cabecalho {
    margin-bottom: 52px;
}

.botao {
    background: var(--cor-secundaria);
    box-shadow: inset 0 -4px 0 1.5px var(--shadow-secundaria);
    color: var(--cor-texto-escuro);
}

/* Robótica selecionado */
#robotica:checked+.rotulo-radio {
    background: var(--cor-secundaria);
    color: var(--cor-texto-escuro);
    box-shadow: inset -2px -2px 4px 0 var(--shadow-secundaria);
}

/* Manutenção selecionado */
#manutencao:checked+.rotulo-radio {
    background: var(--cor-secundaria);
    color: var(--cor-texto-escuro);
    box-shadow: inset 2px -2px 0 1.5px var(--shadow-secundaria);
}

