.cabecalho {
    margin-bottom: 52px;
}

#manutencao:checked+.rotulo-radio, #robotica:checked+.rotulo-radio {
    background: var(--cor-secundaria);
    color: var(--cor-texto-escuro);
}

.botao {
    background: var(--cor-secundaria);
    box-shadow: inset 0 -4px 0 1.5px var(--shadow-secundaria);
    color: var(--cor-texto-escuro);

    margin-top: 20px;
}

.container-pesquisa .campo-entrada {
    padding: 0 50px 0 15px;
}