.cabecalho {
    margin-bottom: 82px;
}

.botao {
    margin-top: 50px;
}

/* RESPONSIVIDADE ESPECÍFICA DESTA PÁGINA */
@media screen and (max-width: 768px) {
    .cabecalho {
        margin-bottom: 40px;
    }
    
    .botao {
        margin-top: 30px;
    }
}

/* Para telas muito pequenas, empilha os radios se necessário */
@media screen and (max-width: 400px) {
    .grupo-radio {
        height: auto;
        flex-direction: column;
    }
    
    .rotulo-radio {
        padding: 15px 0;
        width: 100%;
        border-radius: 0 !important;
    }
}