.conteudo-principal {
    gap: 112px;
}

.cabecalho {
    justify-content: flex-end;
    margin-bottom: 44px;
}

.titulo-pagina {
    text-align: center;
    font-size: 48px;
}

.secao-etiqueta {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 18px;
    column-gap: 32px;
    padding: 0 60px;
    align-items: center;
}

.secao-etiqueta p {
    color: var(--cor-texto-escuro);
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
}

.grupo-botao {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.botao {
    background: var(--cor-secundaria);
    box-shadow: inset 0 -4px 0 1.5px var(--shadow-secundaria);
    color: var(--cor-texto-escuro);
}
