.cabecalho {
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.titulo-pagina {
  text-align: center;
  font-size: 3rem;
}

.conteudo {
  gap: 2rem;
}

.secao-projeto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.dados-projeto,
.grupo-botao {
  align-self: center;
}

.dados-projeto {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.75rem;
  column-gap: 2rem;

}

/* Coluna esquerda: rótulos */
.rotulo-dado {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* Coluna direita: valores */
.valor-dado {
  font-size: 1.25rem;
  font-weight: 500;
}

.grupo-acoes {
  gap: 2rem;
  margin-top: 3rem;
}

.botao {
    background: var(--cor-secundaria);
    color: var(--cor-texto-escuro);
    box-shadow: inset 0 -4px 0 1.5px var(--shadow-secundaria);
}

.botao-branco {
  background: var(--cor-fundo);
  color: var(--cor-texto-escuro);
  box-shadow: none;
}

.tabela-itens thead th {
    background-color: var(--cor-secundaria) !important; /* !important garante a sobreposição ao global */
    color: var(--cor-texto-escuro) !important;
    box-shadow: inset 0 -4px 0 0 var(--shadow-secundaria);
}


