.cabecalho {
    margin-bottom: 2.5rem;
}

.secao-qrcode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.titulo-qrcode {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

