.cabecalho {
    margin-bottom: 2.5rem;
}

.secao-qrcode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.titulo-qrcode {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.container-qrcode {
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    border: 4px solid var(--cor-texto-escuro);
    border-radius: var(--radius);

    overflow: hidden; 
    position: relative;
    background-color: var(--cor-texto-escuro); 
}

#reader video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: var(--radius);
}