.container {
    padding: 3.5rem 1rem 7rem 1rem;
}

.cabecalho {
    margin-bottom: 2.5rem;
}

.conteudo {
    gap: 2.5rem;
}

.grupo-pesquisa-qrcode {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.icone-qrcode {
    cursor: pointer;

}

.botao-qrcode {
    border: none;
    background: none;
}

/* RADIO BUTTONS */
.grupo-radio {
    height: 3.4375rem;
    border: 2px solid #000;
    border-radius: 1.5rem;
    background: #FFF;
}

.rotulo-radio {
    color: var(--cor-texto-escuro);
    font-size: 1.5rem;
    padding: 0 1rem;
    white-space: nowrap;
}

/* Material selecionado */
#material:checked+.rotulo-radio {
    background: #05A51D;
    opacity: 1;
    border-right: 2px solid var(--cor-texto-escuro);
    font-size: 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

/* Projeto selecionado */
#projeto:checked+.rotulo-radio {
    background: var(--cor-secundaria);
    opacity: 1;
    border-left: 2px solid var(--cor-texto-escuro);
    font-size: 2rem;
    border-radius: 1.5rem 0 0 1.5rem;
}

.menu-inferior {
    background: #F2D16D;
}

.secao-projetos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.75rem;
}

/* --- ESTILO GERAL DO ACORDEÃO --- */
details.aba-projeto {
    width: 100%;
    height: auto;

    background: var(--cor-input);
    border-radius: var(--radius);
    box-shadow: inset -4px -4px 0 1px rgba(69, 11, 0, 0.50);

    overflow: hidden;
}

details.aba-projeto>summary {
    position: relative;

    height: 2.8rem;
    padding: 0.5rem 0.8rem;

    display: flex;
    align-items: center;

    cursor: pointer;
    list-style: none;
    -webkit-appearance: none;
    appearance: none;
}

/* Remove marcador padrão */
details.aba-projeto>summary::-webkit-details-marker {
    display: none;
}

.titulo-projeto {
    font-size: 1.5rem;
    color: var(--cor-texto-escuro);
    font-weight: 700;
}

.icone-seta {
    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);

    pointer-events: none;
    transition: transform 0.3s ease;
}

details[open] .icone-seta {
    transform: translateY(-50%) rotate(180deg);
}

.conteudo-aba {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--cor-fundo);
}

/* --- QUANDO ESTÁ ABERTO --- */
details[open].aba-projeto {
    box-shadow: none;
}

.ver-mais {
    width: 5.5rem;
    align-self: end;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--cor-texto-escuro);

    cursor: pointer;
    background: none;
    border: none;

}

.botao {
    background: var(--cor-secundaria);
    box-shadow: inset 0 -4px 0 1px var(--shadow-secundaria);
    color: var(--cor-texto-escuro);
    align-self: end;
}