/* assets/css/main-css/home-css/home-projeto.css */

/* 1. CORES E SOBRESCRITAS */

.menu-inferior {
    background: #F2D16D;
}

/* Botão principal Amarelo */
.botao {
    background: var(--cor-secundaria);
    box-shadow: inset 0 -4px 0 1px var(--shadow-secundaria);
    color: var(--cor-texto-escuro);
    align-self: end;
}

details.aba-projeto .tabela-itens thead th {
    background: var(--cor-secundaria); 
    color: var(--cor-texto-escuro);    
}

/* 2. LISTA DE PROJETOS */
.secao-projetos {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.75rem;

    overflow-y: auto;

    padding: 0 5px 8rem 5px;
    margin-left: -5px;
}

/* Scrollbar Customizada */
.secao-projetos::-webkit-scrollbar {
    width: 6px;
}

.secao-projetos::-webkit-scrollbar-track {
    background: transparent;
}

.secao-projetos::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

/* 3. DETALHES DO PROJETO */

details.aba-projeto {
    width: 100%;
    flex-shrink: 0;
    
    background: var(--cor-input);
    border-radius: var(--radius);
    box-shadow: inset -4px -4px 0 1px rgba(69, 11, 0, 0.50);

    overflow: hidden;
}

/* Remove a sombra interna quando o item está aberto */
details[open].aba-projeto {
    box-shadow: none;
}

/* Cabeçalho Projeto Aberto */
details.aba-projeto > summary {
    position: relative;
    height: 2.8rem;
    padding: 0.5rem 0.8rem;
    
    display: flex;
    align-items: center;

    cursor: pointer;
    list-style: none;
    
    /* Remove estilos nativos */
    -webkit-appearance: none;
    appearance: none;
}

/* Remove o triângulo padrão do navegador */
details.aba-projeto > summary::-webkit-details-marker {
    display: none;
}

.titulo-projeto {
    font-size: 1.5rem;
    color: var(--cor-texto-escuro);
    font-weight: 700;
}

/* Ícone da Seta (Animação) */
.icone-seta {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    
    pointer-events: none;
    transition: transform 0.3s ease;
}

details[open] .icone-seta {
    transform: translateY(-50%) rotate(180deg);
}

/* Conteúdo Interno */
.conteudo-aba {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--cor-fundo);
}