/* assets/css/main-css/home-css/home-base.css */

/* 1. LAYOUT */
.container {
    height: 100vh;
    padding: 3rem 1.5rem 6.2rem;
}

.conteudo {
    flex: 1;
    gap: 2.5rem;
    min-height: 0;
    overflow: hidden;
}

/* 2. CABEÇALHO, PESQUISA E QRCODE */
.cabecalho {
    margin-bottom: 2.5rem;
}

/*  3. RADIO BUTTONS (ABAS DE NAVEGAÇÃO MATERIAL/PROJETO) */
.grupo-radio {
    height: 3.4375rem;
    border: 2px solid var(--cor-texto-escuro);
    border-radius: 1.5rem;
    background: #FFF;
}

.rotulo-radio {
    color: var(--cor-texto-escuro);
    font-size: 1.5rem;
    padding: 0 1rem;
    white-space: nowrap;
}

/* 4. MENU INFERIOR */
.espaco-inferior {
    pointer-events: none;
}

.botao-cadastro,
.menu-inferior {
    pointer-events: auto;
}