/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* VARIÁVEIS GLOBAIS */

:root {
    --cor-fundo: #FEFEFE;
    --cor-fundo-lembrete: #05A51D;

    --cor-texto-escuro: #161614;
    --cor-texto-claro: #FEFEFE;

    --cor-primaria: #1F731D;
    --shadow-primaria: rgba(0, 52, 16, 0.50);
    --cor-secundaria: #F2D16D;
    --shadow-secundaria: rgba(69, 11, 0, 0.50);

    --cor-sucesso: #00FF26;
    --cor-erro: #FF0000;

    --cor-input: #E9E8E3;

    --cor-borda: var(--cor-texto-escuro);
    --font-principal: "Ubuntu", sans-serif;

    --radius: 16px;
    --borda: 2px solid var(--cor-borda);


}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--cor-fundo);
    font-family: var(--font-principal);
    color: var(--cor-texto-escuro);
}

/* LAYOUT */
.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px;
}

.conteudo-principal {
    Width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 82px;
}

/* CABEÇALHO */
.cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titulo-pagina {
    font-weight: 700;
    color: var(--cor-texto-escuro);
}

.botao-fechar {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

/* FORMULÁRIOS*/
.secao-formulario {
    width: 100%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.grupo-campo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rotulo-campo {
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-texto-escuro);
}

.texto-opcional {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-texto-escuro);
}

/* CAMPOS DE ENTRADA */

.campo-entrada {
    width: 100%;
    height: 55px;
    padding: 0 16px;

    border: var(--borda);
    border-radius: var(--radius);
    background: var(--cor-input);

    font-size: 20px;
    cursor: text;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.campo-texto {
    width: 100%;
    height: 170px;
    padding: 12px 16px;

   border: var(--borda);
    border-radius: var(--radius);
    background: var(--cor-input);

    font-size: 20px;
    resize: vertical;
}

/* SELECT CUSTOMIZADO */
.container-select {
    position: relative;
    width: 100%;
}

.icone-seta {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* BARRA PESQUISA CUSTOMIZADO */
.container-pesquisa {
    display: flex;
    position: relative;
    width: 100%;
}

.icone-pesquisa {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 25px;  
    height: 29px;
}

.botao-pesquisa img {
    width: 25px;  
    height: 29px; 
    display: block; 
}


.grupo-pesquisa-filtro {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.icone-filtro {
    top: 50%;
    width: 35px;
    height: 39px;
    cursor: pointer;
}

.botao-filtro img {
    width: 35px;  
    height: 39px; 
    display: block; 
}

.grupo-tabela {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*RADIO BUTTONS */
.grupo-radio {
    display: flex;
    width: 100%;
    height: 55px;

   border: var(--borda);
    border-radius: var(--radius);
    background: var(--cor-input);

    overflow: hidden;
}

.grupo-radio input[type="radio"] {
    display: none;
}

.rotulo-radio {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;

    opacity: 0.5;

    cursor: pointer;
}

/* Robótica selecionado */
#robotica:checked+.rotulo-radio {
    background: var(--cor-primaria);
    color: var(--cor-texto-claro);
    opacity: 1;

    border-radius: var(--radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    box-shadow: inset -2px -2px 4px 0 var(--shadow-primaria);
}

/* Manutenção selecionado */
#manutencao:checked+.rotulo-radio {
    background: var(--cor-primaria);
    color: var(--cor-texto-claro);
    opacity: 1;

    border-radius: var(--radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: inset 2px -2px 0 1.5px var(--shadow-primaria);
}

/* BOTÃO PRINCIPAL */
.botao {
    width: 100%;
    max-width: 316px;
    padding: 16px 0;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: var(--radius);
    background: var(--cor-primaria);
    box-shadow: inset 0 -4px 0 1.5px var(--shadow-primaria);

    font-family: var(--font-principal);
    color: var(--cor-texto-claro);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* TABELA */

/* Estrutura da Tabela (container) */
.grupo-tabela {
    width: 100%;
    overflow-x: auto;
}

.tabela-itens {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;
    
    border: var(--borda); 
    border-radius: var(--radius);
    
    overflow: hidden; 
}

/* Células (TH e TD) */
.tabela-itens th,
.tabela-itens td {
    padding: 12px 10px;
    text-align: center;
    vertical-align: middle;
    
    border-bottom: var(--borda);
    border-right: var(--borda); 
}

.tabela-itens tbody tr:last-child td {
    border-bottom: none;
}

.tabela-itens th:last-child,
.tabela-itens td:last-child {
    border-right: none;
}

.tabela-itens thead {
    background: var(--cor-secundaria);
    color: var(--cor-texto-escuro);
}

.tabela-itens th {
    font-size: 24px;
    font-weight: 700;
}

.tabela-itens tbody tr:nth-child(odd) {
    background: var(--cor-fundo);
}

.tabela-itens tbody tr:nth-child(even) {
    background: var(--cor-input);
}

.tabela-itens td:nth-child(2) {
    text-align: left;
}

.botao-excluir, .botao-fechar, .botao-pesquisa, .botao-filtro {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


/* =========================================================
   RESPONSIVIDADE
========================================================= */