/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* VARIÁVEIS GLOBAIS */
:root {
  --cor-fundo: #fefefe;
  --cor-fundo-lembrete: #05a51d;
  --cor-texto-escuro: #161614;
  --cor-texto-claro: #fefefe;
  --cor-primaria: #1f731d;
  --shadow-primaria: rgba(0, 52, 16, 0.5);
  --cor-secundaria: #f2d16d;
  --shadow-secundaria: rgba(69, 11, 0, 0.5);
  --cor-sucesso: #00ff26;
  --cor-erro: #ff0000;
  --cor-input: #e9e8e3;
  --cor-borda: var(--cor-texto-escuro);
  --font-principal: "Ubuntu", sans-serif;
  --radius: 1rem;
  --borda: 2px solid var(--cor-borda);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--cor-fundo);
  font-family: var(--font-principal);
  color: var(--cor-texto-escuro);
}

/* LAYOUT */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
}

/* CABEÇALHO COM BOTÃO FECHAR */
.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.titulo-pagina {
  color: var(--cor-texto-escuro);
  font-size: 2rem;
  font-weight: 700;
}

/* BOTÃO FECHAR */
.botao-fechar {
  width: 75px;
  height: 75px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: none;
  text-decoration: none;

  cursor: pointer;
}

.botao-fechar:hover {
  opacity: 0.85;
}

.conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FORMULÁRIOS*/

.formulario {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.campo-grupo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.campo-rotulo {
  color: var(--cor-texto-escuro);
  font-size: 1.25rem;
  font-weight: 500;
}

.texto-opcional {
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor-texto-escuro);
}

/* CAMPOS DE ENTRADA */
.campo-entrada {
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  border: var(--borda);
  border-radius: var(--radius);
  background: var(--cor-input);
  font-size: 1.25rem;
  cursor: text;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.campo-texto {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border: var(--borda);
  border-radius: var(--radius);
  background: var(--cor-input);
  font-size: 1.25rem;
  resize: vertical;
}

/* SELECT CUSTOMIZADO */
.container-select {
  position: relative;
  width: 100%;
}

.container-select > .campo-entrada {
  height: 3rem;
}

.icone-seta {
  position: absolute;
  top: 55%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}

/* BARRA PESQUISA CUSTOMIZADO */
.container-pesquisa {
  display: flex;
  position: relative;
  width: 100%;
}

.icone-pesquisa {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 29px;
}

.botao-pesquisa img {
  width: 25px;
  height: 29px;
  display: block;
}

.grupo-pesquisa-filtro {
  display: flex;
  width: 100%;
  gap: 24px;
  align-items: center;
}

.icone-filtro {
  top: 50%;
  width: 35px;
  height: 39px;
  cursor: pointer;
}

.botao-filtro img {
  width: 35px;
  height: 39px;
  display: block;
}

/* RADIO BUTTONS */
.grupo-radio {
  display: flex;
  width: 100%;
  height: 55px;
  border: var(--borda);
  border-radius: var(--radius);
  background: var(--cor-input);
  overflow: hidden;
}

.grupo-radio input[type="radio"] {
  display: none;
}

.rotulo-radio {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
}

/* Robótica selecionado */
#robotica:checked + .rotulo-radio {
  background: var(--cor-primaria);
  color: var(--cor-texto-claro);
  opacity: 1;
  border-radius: var(--radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: inset -2px -2px 4px 0 var(--shadow-primaria);
}

/* Manutenção selecionado */
#manutencao:checked + .rotulo-radio {
  background: var(--cor-primaria);
  color: var(--cor-texto-claro);
  opacity: 1;
  border-radius: var(--radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: inset 2px -2px 0 1.5px var(--shadow-primaria);
}

/* PREÇO */
.campo-preco {
  position: relative;

  width: 100%;
  height: 3.5rem;

  background: var(--cor-input);
  border: var(--borda);
  border-radius: var(--radius);
}

/* R$ fixo dentro do campo */
.prefixo-moeda {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.25rem;
  font-weight: 500;
  pointer-events: none;

  
}

/* input do preço */
.campo-preco .campo-entrada {
  width: 100%;
  height: 100%;

  padding-left: 3rem; /* espaço para o R$ */
  border: none;
  background: transparent;
}

.grupo-acoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOTÃO PRINCIPAL */
.botao {
  width: 20rem;
  height: 3.5rem;
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: var(--radius);
  background: var(--cor-primaria);
  box-shadow: inset 0 -4px 0 1.5px var(--shadow-primaria);

  font-family: var(--font-principal);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--cor-texto-claro);

  cursor: pointer;
}

/* TABELA */
.grupo-tabela {
  width: 100%;
  overflow-x: auto; /* Permite rolagem horizontal no celular */
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tabela-itens {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: var(--borda);
  border-radius: var(--radius);
  overflow: hidden;
}

.tabela-itens th,
.tabela-itens td {
  padding: 12px 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: var(--borda);
  border-right: var(--borda);
}

.tabela-itens tbody tr:last-child td {
  border-bottom: none;
}

.tabela-itens th:last-child,
.tabela-itens td:last-child {
  border-right: none;
}

.tabela-itens thead {
  background: var(--cor-secundaria);
  color: var(--cor-texto-escuro);
}

.tabela-itens th {
  font-size: 24px;
  font-weight: 700;
}

.tabela-itens tbody tr:nth-child(odd) {
  background: var(--cor-fundo);
}

.tabela-itens tbody tr:nth-child(even) {
  background: var(--cor-input);
}

.tabela-itens td:nth-child(2) {
  text-align: left;
}

.botao-excluir,
.botao-fechar,
.botao-pesquisa,
.botao-filtro {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
