.cabecalho {
    justify-content: flex-end;
    margin-bottom: 44px;
}

.titulo-pagina {
    text-align: center;
    font-size: 48px;
}

.secao-etiqueta {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 18px;
    column-gap: 32px;
    padding: 0 60px;

    align-items: center;
}

.secao-etiqueta p {
    color: var(--cor-texto-escuro);
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
}

.container-lembrete {
    background: var(--cor-fundo-lembrete);
    border-radius: var(--radius);
    border: var(--borda);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 24px 40px;
    height: 82px;

    width: 100%;
}

.texto-lembrete {
    color: var(--cor-texto-claro);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.grupo-botao {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px
}