.cabecalho {
    justify-content: flex-end;
    margin-bottom: 44px;
}

.titulo-pagina {
    text-align: center;
    font-size: 48px;
}

.secao-etiqueta {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 18px;
    column-gap: 32px;
    padding: 0 60px;
    align-items: center;
}

.secao-etiqueta p {
    color: var(--cor-texto-escuro);
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
}

.container-lembrete {
    background: var(--cor-fundo-lembrete);
    border-radius: var(--radius);
    border: var(--borda);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 40px;
    height: 82px;
    width: 100%;
}

.texto-lembrete {
    color: var(--cor-texto-claro);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.grupo-botao {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px
}

/* RESPONSIVIDADE */
@media screen and (max-width: 768px) {
    .titulo-pagina {
        font-size: 2rem; /* Menor no celular */
        margin-bottom: 20px;
    }

    .secao-etiqueta {
        padding: 0 10px;
        /* Muda para 1 coluna: Rótulo em cima, Valor embaixo */
        grid-template-columns: 1fr; 
        row-gap: 10px;
        text-align: left;
        width: 100%;
    }
    
    /* Destaca os rótulos (ID, ITEM, etc) */
    .secao-etiqueta p:nth-child(odd) {
        font-weight: 700;
        margin-top: 10px;
        color: #555;
        font-size: 0.9rem;
    }

    .container-lembrete {
        height: auto;
        padding: 20px;
    }
    
    .grupo-botao {
        width: 100%;
        gap: 15px;
    }
}