.cabecalho {
  justify-content: flex-end;
  margin-bottom: 2.5rem;
}

.titulo-pagina {
  text-align: center;
  font-size: 3rem;
}

.conteudo {
  gap: 2rem;
}

.secao-etiqueta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.container-lembrete {
  width: 100vw;
  margin-left: calc(50% - 50vw);

  height: 5rem;
  padding: 1em 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--cor-fundo-lembrete);
}

.dados-etiqueta,
.grupo-botao {
  align-self: center;
}

.texto-lembrete {
  color: var(--cor-texto-claro);
  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 700;
}

.dados-etiqueta {
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.75rem;
  column-gap: 2rem;

  font-size: 1rem;
  line-height: 1.4;
}

/* Coluna esquerda: rótulos */
.rotulo-dado {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* Coluna direita: valores */
.valor-dado {
  font-size: 1.25rem;
  font-weight: 500;
}

.secao-observacoes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titulo-secao {
  font-size: 1.5rem;
  font-weight: 700;
}

.texto-observacoes {
  font-size: 1rem;
  font-weight: 400;
}

.grupo-acoes {
  gap: 2rem;
}

.botao-imprimir {
  background: none;
  border: none;
  padding: 0;

  color: var(--cor-texto-escuro);
  font-size: 1rem;
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

  cursor: pointer;
}

.qrcode-wrapper {
  width: 100%;
  display: flex; /* Ativa o flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 15px;
  margin-bottom: 15px;
}

#qrcode img {
  border: 2px solid #fff;
  padding: 2px;
  /* Garante que a imagem do QR Code não estoure se for muito grande */
  max-width: 100%;
}

/* --- CONFIGURAÇÃO DE IMPRESSÃO --- */
@media print {
  /* 1. Esconde tudo o que não é essencial */
  .cabecalho,
  .botao-fechar,
  .container-lembrete,
  .grupo-acoes {
    display: none !important;
  }

  /* 2. Ajusta o corpo da página */
  body {
    background: white;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  /* 3. Configura a Etiqueta para impressão */
  .secao-etiqueta {
    display: block;
    width: 100%; /* Ocupa a largura do papel */
    margin: 0;
    padding: 20px;
    border: 2px solid #000; /* Borda preta nítida */
    box-shadow: none; /* Remove sombras */
    position: relative; /* Remove o absolute para fluir melhor */
  }

  /* Força textos em preto puro para economizar tinta colorida/ficar nítido */
  * {
    color: #000 !important;
  }
}
