.container {
  height: 100vh;
  justify-content: center;
  padding: 4rem 1rem;
}

.cabecalho {
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.logo-login {
  width: clamp(8rem, 12vw, 12rem);
  height: auto;
}

.titulo-pagina {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.secao-login {
  width: 100%;
}

.grupo-acoes {
  position: relative;
  width: 100%;
  margin-top: 4rem;
}

.mensagem-erro {
  color: var(--cor-erro);
  font-size: 1rem;
  margin-top: 1rem;
}

.carregamento {
  position: absolute;
  
  top: -4rem; 
  left: 50%;
  transform: translateX(-50%);

  width: 30px;
  height: 30px;

  border: 5px solid var(--cor-input);
  border-top: 5px solid var(--cor-primaria);
  border-radius: 50%;

  display: none; 
  animation: spin 1s linear infinite;
  z-index: 10;
}

@keyframes spin {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}