.container {
  padding: 9rem 1rem;
  gap: 6rem;
}

.cabecalho {
  align-items: center;
  justify-content: center;
}

.logo-login {
  width: clamp(8rem, 12vw, 12rem);
  height: auto;
}

.titulo-pagina {
  text-align: center;
  font-size: 2rem;
}

.conteudo {
  gap: 5rem;
}

.secao-login {
  width: 100%;
}

.grupo-acoes {
  position: relative;
  width: 100%;
  margin-top: 3rem;
}

.mensagem-erro {
  color: var(--cor-erro);
  font-size: 1rem;
  margin-top: 0.75rem;
}

/* --- MODIFICAÇÃO AQUI --- */
.carregamento {
  position: absolute;
  
  top: -3.5rem; 
  left: 0;
  right: 0;
  margin: auto;

  border: 4px solid var(--cor-input);
  border-top: 4px solid var(--cor-primaria);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;

  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}