.container-geral {
    padding: 50px 20px;
    max-width: 440px;
    margin: 0 auto;
    gap: 0;
}

.cabecalho {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 104px;
}

.logo-login {
    width: 130px;
    height: 120px;
}

.titulo-pagina {
    text-align: center;
}

.grupo-botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

/* Animação de Carregamento (Spinner) */
.loader {
    border: 4px solid var(--cor-input);
    border-top: 4px solid var(--cor-primaria);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
    margin-top: -40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* RESPONSIVIDADE LOGIN */
@media screen and (max-width: 480px) {
    .container-geral {
        width: 100%;
        max-width: 100%;
        padding: 40px 20px;
    }
    
    .cabecalho {
        margin-bottom: 50px;
    }
    
    .logo-login {
        width: 100px;
        height: 90px;
    }
}