.container-geral {
    padding: 50px 20px;
    max-width: 440px;
    margin: 0 auto;
    gap: 0;
}

.cabecalho {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 104px;
}

.logo-login {
    width: 130px;
    height: 120px;
}

.titulo-pagina {
    text-align: center;
}

.grupo-botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
